.MultiSelect {
    margin-bottom: 12px;

    label {
        position: relative;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 4px 6px;
        display: inline-block;
        border-radius: 4px;
        background-color: rgb(248, 248, 248);

        input {
            margin: 0 4px 0 0;
        }
    }
}
