.Dropdown {
    display: inline-block;
    margin-bottom: 12px;

    label {
        position: relative;

        select {
            display: block;
            margin: 5px;
            width: 150px;
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            height: 34px;
            border-radius: 4px;
            appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
            background-origin: content-box;
            background-position: right 0.5rem center;
            background-repeat: no-repeat;
            background-size: 9px 6px;
        }
    }
}
