@font-face {
    font-family: 'EffraRegular';
    src: url('./font/Effra_WLatn_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EffraMedium';
    src: url('./font/Effra_WLatn_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 16px;
}

*,
body {
    font-family: 'EffraRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    color: #262637;
}

body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
    color: indianred;
}
